:root {
    --button-size: 60px;
    --border-round: 10px;
    --calculator-color: #ccc;
    --display-color: #777;
    --button-color: whitesmoke;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calculator {
    background-color: var(--calculator-color);
    border-radius: var(--border-round);
    max-width: 300px;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    margin: auto;
}

#calculator * {
    padding: 10px 20px;
}

.number-display {
    background-color: var(--display-color);
    border-radius: var(--border-round);
    color: white;
    margin: 10px;
}

.button-group {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(var(--button-size), 1fr));
    grid-template-rows: auto repeat(auto-fit, minmax(var(--button-size), 1fr));
    gap: 5px;
}

.calculator-button {
    background-color: var(--button-color);
    border-radius: 50%;
    border: none;
    height: var(--button-size);
    width: var(--button-size);
    font-size: 1em;
}

#log {
    overflow-x: scroll;
    padding: 15px 5px;
    margin: 0 15px;
}

#log * {
    background-color: var(--button-color);
    width: fit-content;
    display: inline;
    padding: 5px;
    margin: 0 5px 0 5px;
    max-height: 1em;
}